.side_bar
  .side_bar_user_name
    .side_bar_user_name__box
      .left_box
        umi
      .rihgt_box
        .btn
          = link_to "#" , calss: "left__btn" do
            = icon('far', 'edit', class: "left__btn--icon")
          = link_to "#" , class: "right__btn" do
            = icon('fas', 'cog', class: "right__btn--icon")
  .side_bar_group-list
    .side_bar_group-list__box
      .group_name
        techcamp
      .group_message
        まだメッセージがありません
    .side_bar_group-list__box
      .group_name
        techcamp
      .group_message
        まだメッセージがありません
    .side_bar_group-list__box
      .group_name
        techcamp
      .group_message
        まだメッセージがありません
